    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }

  header{
    background-color: rgb(202, 165, 0);
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    padding: 45px;
    align-content: center;
    border-radius: 15px
  }

  h1{
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
    width: 100px;
  }
  input {
    width: 250px;
    -webkit-appearance: none;
  }
   
  button,
  input {
    border: 2px solid goldenrod;
    background: none;
    outline: none;
    color: inherit;
    margin: 15px;
    height: 30px;
  }

  button{
    background-color: goldenrod;
    border-radius: 10px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  /*Results*/

  .results {
    margin: 70px 0 20px;
  }
  
  .results .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .results .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med);
  }
  
  .results .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: var(--text_light);
  }
  
  .results figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .results .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
  }
  
  .results .city sup {
    font-size: 0.5em;
  }
  
  .results .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
  }
  
  .results .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }