* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }

html{
  background-color: rgb(20, 31, 78)
}
body{
  width: 75%;
  height: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(155, 129, 15);
  border-radius: 10px
}
