@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }

  body {
      background: url("./images/Earth\ Wallpaper.jpg");
  }
  header {
      background-color: rgb(22, 23, 24);
      border-radius: 15px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  header h1 {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
  }
  header h3{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
  }
  section{
      width: 400px;
      height: 600px;
      background-color: rgb(22, 23, 24);
      color: white;
      
  }
  img{
      width: max-content;
      height: max-content;
  }